@model WebApplication1.Models.Performance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SetListId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetListId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duriation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duriation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Band.BandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Band.BandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
